@charset "utf-8";
/*首页*/
body {
  background: #f5f5f5;
  font-family: 'microsoft yahei';
}
.main-nav-wrap .main-nav .dropdown .main-index {
  margin-top: 13px;
  background: rgba(0, 0, 0, 0.4);
}
.m-focus-d .thumbs-bg {
  z-index: 10;
}
.main-index-wrap html {
  overflow-y: scroll;
}
.main-index-wrap body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: #333;
}
.main-index-wrap body > div {
  margin-right: auto;
  margin-left: auto;
}
.main-index-wrap div,
.main-index-wrap form,
.main-index-wrap img,
.main-index-wrap ul,
.main-index-wrap ol,
.main-index-wrap li,
.main-index-wrap p,
.main-index-wrap dl,
.main-index-wrap dt,
.main-index-wrap dd {
  margin: 0;
  padding: 0;
  border: 0;
}
.main-index-wrap h1,
.main-index-wrap h2,
.main-index-wrap h3,
.main-index-wrap h4,
.main-index-wrap h5,
.main-index-wrap h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: 'microsoft yahei';
}
.main-index-wrap ul,
.main-index-wrap li {
  list-style: none;
  line-height: 24px;
}
.main-index-wrap img {
  border: 0px;
}
.main-index-wrap a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  cursor: hand;
}
.main-index-wrap .left {
  float: left;
}
.main-index-wrap .right {
  float: right;
}
.main-index-wrap .area:after,
.main-index-wrap .area2:after,
.main-index-wrap .clear:after,
.main-index-wrap .con:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.main-index-wrap .clear,
.main-index-wrap .area,
.main-index-wrap .area2,
.main-index-wrap .con:after {
  *zoom: 1;
}
.main-index-wrap .area {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
}
.main-index-wrap .area {
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.main-index-wrap .css3-animate {
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.main-index-wrap .area {
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
}
.main-index-wrap .banner-box {
  position: relative;
  margin-bottom: 15px;
  -webkit-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.main-index-wrap .banner-box .banpic {
  z-index: 2;
}
.main-index-wrap .banner-box .banpic .m-banpic {
  position: absolute;
  top: 10px;
  right: 0;
  width: 161px;
}
.main-index-wrap .banner-box .banpic .m-banpic li {
  position: relative;
  width: 161px;
  height: 133px;
  margin-bottom: 12px;
}
.main-index-wrap .banner-box .banpic .m-banpic li .con {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  z-index: 2;
  color: #FFF;
}
.main-index-wrap .banner-box .banpic .m-banpic li .con .tt {
  display: block;
  font-size: 22px;
  font-weight: bold;
}
.main-index-wrap .banner-box .banpic .m-banpic li .con .cn {
  display: block;
  font-size: 13px;
}
.main-index-wrap .banner-box .banpic .m-banpic li .con .cn a {
  float: right;
  color: #fff;
}
.main-index-wrap .banner-box .banpic .m-banpic li:after {
  content: " ";
  background: #ed723b;
  position: absolute;
  height: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .75;
  z-index: 1;
}
.main-index-wrap .banner-box .banpic .m-banpic .li-2:after {
  background: #f3474e;
}
.main-index-wrap .banner-box .banpic .m-banpic .li-3:after {
  background: #b05f8e;
}
.main-index-wrap .m-focus-d {
  position: relative;
  height: 448px;
  z-index: 1;
}
.main-index-wrap .m-focus-d .switchable-box {
  position: relative;
  width: 100%;
  height: 448px;
  overflow: hidden;
}
.main-index-wrap .m-focus-d .switchable-box .pic-list li {
  width: 100%;
  height: 448px;
  text-align: center;
  overflow: hidden;
}
.main-index-wrap .m-focus-d .switchable-box .pic-list li a.link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.main-index-wrap .m-focus-d .switchable-box .pic-list li img {
  visibility: hidden;
}
.main-index-wrap .m-focus-d .switchable-box .m-focus-prev {
  right: 50%;
  margin-right: 600px;
  background-position: left center;
  position: absolute;
  top: 50%;
  z-index: 25;
  width: 72px;
  height: 142px;
  margin-top: -71px;
  text-align: center;
}
.main-index-wrap .m-focus-d .switchable-box .m-focus-next {
  left: 50%;
  margin-left: 600px;
  background-position: right center;
  position: absolute;
  top: 50%;
  z-index: 25;
  width: 72px;
  height: 142px;
  margin-top: -71px;
  text-align: center;
}
.main-index-wrap .m-focus-d .thumbs-list {
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  z-index: 5;
}
.main-index-wrap .m-focus-d .thumbs-list ol {
  text-align: center;
}
.main-index-wrap .m-focus-d .thumbs-list ol li {
  display: inline-block;
  width: 30px;
  margin: 0 10px;
  vertical-align: top;
  line-height: 6px;
  height: 6px;
  background: #a6a7a8;
  text-align: center;
  font-family: 'microsoft yahei';
  cursor: pointer;
}
.main-index-wrap .m-focus-d .thumbs-list ol li.active {
  background: #f4b0b5;
}
.main-index-wrap .main-box {
  position: relative;
  z-index: 10;
  font-family: 'microsoft yahei';
}
.main-index-wrap .main-box .m-title1 {
  margin-bottom: 35px;
  margin-top: 35px;
  background: #f54149;
  color: #FFF;
  line-height: 36px;
  font-size: 18px;
  height: 48px;
  width: 1000px;
}
.main-index-wrap .main-box .m-title1 ul li {
  border: 1px solid #fff;
  margin-left: 15px;
  float: left;
  margin-top: 10px;
}
.main-index-wrap .main-box .m-title1 ul li a {
  padding: 6px 15px;
  color: #fff;
  font-size: 12px;
}
.main-index-wrap .main-box .m-title1 li.cur {
  background-color: rgba(255, 255, 255, 0.2);
}
.main-index-wrap .main-box .m-scrollbar {
  position: relative;
}
.main-index-wrap .main-box .m-scrollbar .warp {
  margin-left: -16px;
  margin-right: -16px;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li {
  float: left;
  width: 20%;
  padding-bottom: 10px;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box {
  position: relative;
  width: 210px;
  margin: 0 auto;
  -webkit-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box i.hot {
  position: absolute;
  left: 0;
  top: 0;
  width: 89px;
  height: 89px;
  background: url(../images/hot.png) no-repeat;
  display: block;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box .pic {
  height: 242px;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box .pic img {
  display: block;
  width: 210px;
  height: 242px;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box .con {
  padding: 10px 0 10px 15px;
  background: #FFF;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box .con .tt {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 2px;
  font-size: 16px;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box .con .cn {
  font-size: 14px;
}
.main-index-wrap .main-box .m-scrollbar .warp .m-newbooklist li .box .con .cn .tag {
  margin-right: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 10px;
  background: #f5f5f5;
  color: #7e7e7e;
}
.main-index-wrap .main-box .m-ad {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.main-index-wrap .main-box .m-ad img {
  max-width: 100%;
}
.main-index-wrap .main-box .m-span {
  width: 1000px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  overflow: hidden;
}
.main-index-wrap .main-box .m-span ul li.big {
  width: 314px;
  float: left;
  margin-right: 29px;
}
.main-index-wrap .main-box .m-span ul li.big h3 {
  font-weight: normal;
  font-size: 20px;
  background-color: #ff773b;
  color: #fff;
  line-height: 48px;
  padding-left: 17px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li {
  width: 314px;
  background-color: #fff;
  float: left;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li {
  width: 156px;
  float: left;
  padding: 7px 15px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li p.name {
  color: #333;
  font-size: 16px;
  line-height: 26px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li p.price {
  color: #f54149;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li p.price span {
  font-size: 16px;
  line-height: 16px;
  margin-left: 3px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li .span-img {
  width: 126px;
  height: 110px;
  margin-top: 5px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li .span-img img {
  width: 126px;
  height: 110px;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li.right {
  border-right: 1px solid #d8d8d8;
}
.main-index-wrap .main-box .m-span ul li.big .list-li li.bottom {
  border-bottom: 1px solid #d8d8d8;
}
.main-index-wrap .main-box .m-column-bar dl {
  margin-bottom: 40px;
  -webkit-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
.main-index-wrap .main-box .m-column-bar dl dt {
  *zoom: 1;
  color: #FFF;
}
.main-index-wrap .main-box .m-column-bar dl dt a {
  color: #fff;
}
.main-index-wrap .main-box .m-column-bar dl dt .tag {
  float: right;
  padding: 9px 0;
  line-height: 26px;
  padding-right: 10px;
}
.main-index-wrap .main-box .m-column-bar dl dt .tag a {
  font-size: 14px;
  margin: 0 8px;
  padding: 0 15px;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
}
.main-index-wrap .main-box .m-column-bar dl dt h2 {
  font-size: 20px;
  padding: 10px 0;
  line-height: 26px;
  padding-left: 30px;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad {
  float: left;
  width: 260px;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad .recommend-book {
  color: #FFF;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad .recommend-book img {
  width: 260px;
  height: 345px;
  display: block;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad .recommend-book .con {
  padding: 10px 10px 15px 10px;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad .recommend-book .con .tt {
  margin-bottom: 5px;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad .recommend-book .con .tt .pri {
  float: right;
  color: #ff2828;
  font-size: 16px;
  margin-right: 30px;
  line-height: 30px;
}
.main-index-wrap .main-box .m-column-bar dl dd .left-ad .recommend-book .con .tt h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con {
  float: right;
  width: 740px;
  background: #FFF;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con .booklist li {
  float: left;
  width: 33.3%;
  border-right: 1px solid #f5f5f5;
  padding-bottom: 15px;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con .booklist li .box {
  height: 218px;
  background: #FFF;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con .booklist li .box .name {
  display: block;
  padding: 5px 0 0 10px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
  color: #2c8598;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con .booklist li .box .tt {
  padding-left: 15px;
  color: #9e9c9c;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con .booklist li .box .pic {
  position: relative;
  height: 174px;
  line-height: 174px;
  text-align: center;
  overflow: hidden;
}
.main-index-wrap .main-box .m-column-bar dl dd .right-con .booklist li .box .pic img {
  vertical-align: middle;
  max-width: 100%;
}
.main-index-wrap .main-box .m-column-bar dl.dl-1 dt {
  background: #2d90a5;
}
.main-index-wrap .main-box .m-column-bar dl.dl-1 dt a {
  border: 1px solid #76d8ed;
  background: #41b6cf;
}
.main-index-wrap .main-box .m-column-bar dl.dl-1 dd .left-ad {
  background: #2d90a5;
}
.main-index-wrap .main-box .m-column-bar dl.dl-2 dt {
  background: #5a688f;
}
.main-index-wrap .main-box .m-column-bar dl.dl-2 dt a {
  border: 1px solid #9fabcd;
  background: #7280a8;
}
.main-index-wrap .main-box .m-column-bar dl.dl-2 dd .left-ad {
  background: #5a688f;
}
.main-index-wrap .main-box .m-column-bar dl.dl-3 dt {
  background: #014b92;
}
.main-index-wrap .main-box .m-column-bar dl.dl-3 dt a {
  border: 1px solid #5ba4e9;
  background: #0c5faf;
}
.main-index-wrap .main-box .m-column-bar dl.dl-3 dd .left-ad {
  background: #014b92;
}
.main-index-wrap .main-box .m-column-bar dl.dl-4 dt {
  background: #665999;
}
.main-index-wrap .main-box .m-column-bar dl.dl-4 dt a {
  border: 1px solid #aea3d8;
  background: #8679b8;
}
.main-index-wrap .main-box .m-column-bar dl.dl-4 dd .left-ad {
  background: #665999;
}
.main-index-wrap .main-box .m-column-2 {
  margin-bottom: 40px;
  background: #FFF;
  -webkit-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
.main-index-wrap .main-box .m-column-2 .m-piclist {
  margin: 0 -6px;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li {
  float: left;
  width: 25%;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li .box {
  position: relative;
  width: 241px;
  height: 192px;
  margin-left: auto;
  margin-right: auto;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li .box img {
  width: 241px;
  height: 192px;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li .box .name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: #FFF;
  font-size: 16px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: url(../images/pngbg.png) repeat;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li .box .name .pri {
  float: right;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mgb10 {
  margin-bottom: 10px;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mid {
  width: 50%;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mid .m-gyms {
  padding-top: 30px;
  text-align: center;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mid .m-gyms .title {
  margin-bottom: 30px;
  font-size: 20px;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mid .m-gyms .linkcon {
  min-height: 60px;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mid .m-gyms .linkcon a {
  margin: 0 10px;
  font-size: 14px;
  padding: 0 10px;
  color: #FFF;
  background: #fe3535;
  display: inline-block;
}
.main-index-wrap .main-box .m-column-2 .m-piclist li.mid .m-gyms .morecon a {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #fe4040;
  color: #fe3838;
  font-size: 14px;
  line-height: 30px;
}
.main-index-wrap .main-box .m-title2 {
  padding: 0 15px 0 25px;
  background: #ff884e;
  color: #FFF;
}
.main-index-wrap .main-box .m-title2 .more {
  float: right;
  margin-top: 10px;
  text-align: center;
  line-height: 24px;
  width: 86px;
  border: 1px solid #fdcdb7;
  background: #ffae87;
  color: #FFF;
  font-size: 14px;
}
.main-index-wrap .main-box .m-title2 h2 {
  font-size: 20px;
  padding: 10px 0;
  line-height: 26px;
  font-weight: normal;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 {
  padding: 15px 15px 1px 15px;
  margin-bottom: 40px;
  background: #FFF;
  -webkit-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li {
  float: left;
  width: 50%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dedede;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box {
  width: 460px;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .pic {
  float: left;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border: 1px solid #dedede;
  overflow: hidden;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .pic img {
  vertical-align: middle;
  max-width: 100%;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con {
  float: right;
  width: 320px;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .title {
  margin-bottom: 6px;
  font-size: 18px;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .cn {
  margin-bottom: 4px;
  color: #e6e6e6;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .cn .sd {
  float: right;
  padding: 0 10px;
  background: #ff884e;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .cn .s1 {
  padding-left: 24px;
  background: url(../images/ico1.png) left center no-repeat;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .cn span {
  display: inline-block;
  color: #a8a6a6;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .cn2 {
  margin-bottom: 5px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li .box .con .num {
  font-size: 14px;
  color: #a8a6a6;
}
.main-index-wrap .main-box .m-column-3 .m-piclist2 li.last {
  border-bottom: 0;
  margin-bottom: 0;
}
.main-index-wrap .main-box .m-title3 {
  padding: 0 15px;
  background: #b43d80;
  color: #FFF;
}
.main-index-wrap .main-box .m-title3 h2 {
  font-size: 20px;
  padding: 10px 0;
  line-height: 26px;
  font-weight: normal;
}
.main-index-wrap .main-box .m-column-4 {
  padding: 15px 10px;
  margin-bottom: 40px;
  background: #FFF;
  -webkit-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar {
  position: relative;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .m-piclist3 li {
  float: left;
  width: 25%;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .m-piclist3 li .box {
  position: relative;
  width: 210px;
  height: 184px;
  margin-left: auto;
  margin-right: auto;
  border-top: 6px solid #848384;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .m-piclist3 li .box img {
  width: 210px;
  height: 184px;
  display: block;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .m-piclist3 li .box .con {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: url(../images/pngbg.png) repeat;
  color: #FFF;
  font-size: 14px;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .m-piclist3 li .box .con .r {
  float: right;
  color: #bdbdbd;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .u-prev {
  display: block;
  top: 0;
  background: #e7e7e7 url(../images/btn.png) center no-repeat;
  cursor: pointer;
  height: 190px;
  position: absolute;
  width: 22px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  left: 5px;
  background-position: left center;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .u-next {
  display: block;
  top: 0;
  background: #e7e7e7 url(../images/btn.png) center no-repeat;
  cursor: pointer;
  height: 190px;
  position: absolute;
  width: 22px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  right: 5px;
  background-position: right center;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .u-prev:hover {
  background-color: #b43d80;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
.main-index-wrap .main-box .m-column-4 .m-scrollbar .picscroll3 .u-next:hover {
  background-color: #b43d80;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
