.faTie-content-wrap {
  min-height: auto;
}
.fatie-left-wrap {
  font-family: "微软雅黑";
  width: 750px;
  height: 676px;
  float: left;
  border: 1px solid #d8d8d8;
  background-color: #FFFFFF;
}
.fatie-left-wrap h3.title {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: normal;
  background: #d4d3d0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-indent: 20px;
}
.fatie-left-wrap .fatie-body {
  background: #FFFFFF;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 16px;
}
.fatie-left-wrap .fatie-body ul li {
  margin-bottom: 15px;
  height: 30px;
  line-height: 30px;
}
.fatie-left-wrap .fatie-body ul li input {
  border: none;
  border-radius: 4px;
  border: 1px solid #CECECE;
  height: 28px;
  line-height: 28px;
  float: left;
  padding-left: 5px;
}
.fatie-left-wrap .fatie-body ul li select {
  border: none;
  border-radius: 4px;
  border: 1px solid #CECECE;
  height: 24px;
  line-height: 24px;
  float: left;
  width: 150px;
  font-family: "微软雅黑";
  color: #333333;
}
.fatie-left-wrap .fatie-body ul li label {
  float: left;
  font-family: "黑体";
  margin-right: 2px;
  display: inline;
}
.fatie-left-wrap .fatie-body ul li .lujing-tj-wrap {
  float: left;
}
.fatie-left-wrap .fatie-body ul li textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #CECECE;
  width: 444px;
  height: 164px;
  background: #f2f2f2;
  padding: 5px;
  display: block;
  margin-bottom: 3px;
}
.fatie-left-wrap .fatie-body ul li div.lujing-tj {
  clear: both;
  margin-bottom: 20px;
  font-size: 12px;
  color: #666666;
  padding: 0 10px;
  overflow: hidden;
  line-height: 20px;
}
.fatie-left-wrap .fatie-body ul li div.lujing-tj span.lujing {
  float: left;
}
.fatie-left-wrap .fatie-body ul li div.lujing-tj span.tongji {
  float: right;
}
.fatie-left-wrap .fatie-body ul li.spe label {
  width: 136px;
}
.fatie-left-wrap .fatie-body ul li.spe input {
  width: 393px;
}
.fatie-left-wrap .fatie-body ul li.guanlian {
  clear: both;
}
.fatie-left-wrap .fatie-body ul li.guanlian div.guanlian-book {
  float: left;
  font-family: "黑体";
}
.fatie-left-wrap .fatie-body ul li.guanlian div.guanlian-mes {
  float: left;
  padding-left: 10px;
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-top {
  font-size: 16px;
  margin-bottom: 15px;
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-top span {
  font-family: "黑体";
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-top a {
  margin-left: 70px;
  color: #3a8dff;
  font-family: "黑体";
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-bot {
  margin-bottom: 54px;
  overflow: hidden;
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-bot input {
  float: left;
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-bot .xuanze {
  border-radius: 4px;
  border: 1px solid #3a8dff;
  padding: 0px 10px;
  margin-left: 18px;
  float: left;
  display: inline;
  background: url(../images/gang_tiezi.png) no-repeat 80px center;
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-bot .xuanze a {
  color: #3a8dff;
  font-size: 16px;
}
.fatie-left-wrap .fatie-body ul li.guanlian .guanlian-mes-bot .xuanze span {
  margin: 0 4px;
}
.fatie-left-wrap .fatie-body .fate-but {
  clear: both;
  margin-left: 90px;
  overflow: hidden;
}
.fatie-left-wrap .fatie-body .fate-but input {
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  float: left;
  text-align: center;
  margin-right: 26px;
  display: inline;
  padding: 0;
  color: #FFFFFF;
  font-family: "微软雅黑";
}
.fatie-left-wrap .fatie-body .fate-but .serve {
  background-color: #468cff;
}
.fatie-left-wrap .fatie-body .fate-but .return {
  background-color: #fda02c;
}
.fatie-left-wrap .fatie-body .fate-but .cancel {
  background-color: #d0d0d0;
}
.fatie-right-wrap {
  font-family: "微软雅黑";
  width: 228px;
  float: right;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
}
.fatie-right-wrap h3.fatie-right-title {
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  color: #333333;
  padding-left: 15px;
  font-weight: normal;
  border-bottom: 1px solid #efefef;
}
.fatie-right-wrap ul {
  padding: 15px;
}
.fatie-right-wrap ul li {
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-size: 14px;
  color: #333333;
  margin-bottom: 12px;
}
.fatie-right-wrap ul li em {
  float: left;
  font-style: normal;
  margin-right: 5px;
  display: inline;
  width: 16px;
}
.fatie-right-wrap ul li span {
  float: left;
  width: 116px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fatie-right-wrap ul li b {
  float: right;
  font-weight: normal;
}
.fatie-right-wrap ul li:first-child em {
  color: #f3474e;
}
.fatie-right-wrap ul li:first-child span {
  color: #f3474e;
}
.fatie-right-wrap ul li:nth-child(2) em {
  color: #ff9125;
}
.fatie-right-wrap ul li:nth-child(2) span {
  color: #ff9125;
}
.fatie-right-wrap ul li:nth-child(3) em {
  color: #ffcc31;
}
.fatie-right-wrap ul li:nth-child(3) span {
  color: #ffcc31;
}
.fatie-right-wrap ul li:last-child {
  margin-bottom: 0;
}
.bbs-details-right {
  height: 300px;
  width: 230px;
  background: #fff;
  float: right;
}
.bbs-details-right .img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #dcdcdc;
}
.bbs-details-right h3 {
  line-height: 44px;
  color: #45aaf8;
  font-size: 16px;
  margin-left: 20px;
}
.bbs-details-right .examine-bbs {
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 32px;
  line-height: 30px;
  color: #999999;
  background: url("../images/write.png") no-repeat left;
  background-size: 28px;
}
.bbs-details-right .friends-bbs {
  margin-left: 20px;
  padding-left: 32px;
  line-height: 30px;
  color: #999999;
  margin-top: 10px;
  background: url("../images/people.png") no-repeat left;
  background-size: 28px;
}
.bbs-details-left {
  margin-top: 40px;
  width: 752px;
}
.bbs-details-left .bbs-title-wrap {
  background: #fff;
  position: relative;
  padding: 14px 30px;
}
.bbs-details-left .bbs-title-wrap h2 {
  color: #333333;
  font-size: 18px;
  line-height: 40px;
}
.bbs-details-left .bbs-title-wrap button.return {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background: #fa993b;
  width: 92px;
  height: 30px;
  border-radius: 5px;
  border: 0;
}
.bbs-details-left .bbs-title-wrap .page {
  color: #999999;
  margin-top: 10px;
  height: 40px;
}
.bbs-details-left .bbs-title-wrap .page div {
  float: left;
  line-height: 38px;
  height: 38px;
  text-align: center;
  cursor: pointer;
}
.bbs-details-left .bbs-title-wrap .page .prev,
.bbs-details-left .bbs-title-wrap .page .next {
  width: 78px;
  color: #2953a6;
  border: 1px solid #e5e5e5;
}
.bbs-details-left .bbs-title-wrap .page .num {
  width: 38px;
  color: #2953a6;
  border: 1px solid #e5e5e5;
}
.bbs-details-left .bbs-title-wrap .page .cur {
  background: #efefef;
}
.bbs-details-left .bbs-title-wrap .page .dot {
  width: 30px;
  line-height: 40px;
}
.bbs-details-left .bbs-title-wrap .page .last {
  margin-left: 10px;
  width: 78px;
  border: 1px solid #e5e5e5;
}
.bbs-details-left .bbs-title-wrap .page .explain {
  margin-left: 10px;
  line-height: 40px;
}
.bbs-details-left .bbs-title-wrap .page .explain input {
  border: 1px solid #e5e5e5;
  width: 30px;
  height: 34px;
  text-align: center;
  margin: 0 2px;
}
.bbs-details-left .details {
  margin-top: 24px;
  background: #fff;
}
.bbs-details-left .details li {
  padding: 24px 30px;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}
.bbs-details-left .details .user-wrap {
  height: 82px;
}
.bbs-details-left .details .user-wrap .img {
  width: 80px;
  height: 80px;
  float: left;
  border: 1px solid #ededed;
}
.bbs-details-left .details .user-wrap .img img {
  width: 100%;
}
.bbs-details-left .details .user-wrap .lz {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 24px;
  right: 30px;
}
.bbs-details-left .details .user-wrap .name {
  margin-left: 98px;
}
.bbs-details-left .details .user-wrap .name p {
  line-height: 44px;
  font-size: 20px;
}
.bbs-details-left .details .user-wrap .name button.add {
  border: 0;
  margin-top: 6px;
  width: 66px;
  height: 22px;
  font-size: 12px;
  border-radius: 5px;
  color: #999999;
  background: #ededed;
}
.bbs-details-left .details .describe {
  line-height: 24px;
  margin-top: 20px;
  color: #333333;
  font-size: 14px;
  text-align: justify;
}
.bbs-details-left .details .illustrating-pic {
  margin-top: 10px;
}
.bbs-details-left .details .illustrating-pic li {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: #ececec;
  background: #f7f7f7;
  padding: 0;
}
.bbs-details-left .details .praise-wrap {
  margin-top: 16px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}
.bbs-details-left .details .praise-wrap .praise-name {
  float: left;
  height: 24px;
  padding-left: 28px;
  font-size: 16px;
  background: url("../images/picture.png") no-repeat left;
  background-size: 24px;
}
.bbs-details-left .details .praise-wrap .praise-time {
  float: left;
  margin-left: 16px;
  color: #999999;
  font-size: 14px;
  height: 24px;
}
.bbs-details-left .details .praise-wrap .report {
  float: right;
  text-align: right;
  color: #999999;
  font-size: 14px;
  width: 68px;
  height: 24px;
}
.bbs-details-left .details .praise-wrap .praise {
  float: right;
  width: 78px;
  height: 24px;
  background: url("../images/good.png") no-repeat right;
  background-size: 20px;
}
.bbs-details-left .details .praise-wrap .love {
  float: right;
  width: 78px;
  height: 24px;
  background: url("../images/favor.png") no-repeat right;
  background-size: 20px;
}
.bbs-details-left .details .comment-wrap {
  width: 100%;
  background: #f2f4f5;
}
.bbs-details-left .details .comment-details li {
  margin: 16px 0;
}
.bbs-details-left .details .comment-details li .avatar {
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid #dcdcdc;
  background: #fff;
}
.bbs-details-left .details .comment-details li .name {
  margin-left: 54px;
  text-align: justify;
  font-size: 14px;
  color: #333333;
}
.bbs-details-left .details .comment-details li .name span {
  color: #346af3;
}
.bbs-details-left .details .comment-details li .time-wrap {
  height: 34px;
  text-align: right;
  line-height: 34px;
  color: #999999;
}
.bbs-details-left .details .comment-details li .time-wrap .return {
  float: right;
  width: 60px;
}
.bbs-details-left .details .comment-details li .time-wrap .time {
  margin-right: 60px;
}
.bbs-details-left .details .more-wrap {
  height: 26px;
  margin: 16px 10px;
  position: relative;
}
.bbs-details-left .details .more-wrap button {
  width: 88px;
  height: 24px;
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #666666;
  color: #666666;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.bbs-details-left .details .more-wrap button:hover {
  color: #346af3;
  border: 1px solid #346af3;
}
.bbs-details-left .details .more-wrap p {
  color: #333333;
}
.bbs-details-left .details .more-wrap p span {
  color: #346af3;
  cursor: pointer;
}
.bbs-details-left .details .textarea-wrap {
  margin: 12px 56px 20px 16px;
  padding-bottom: 60px;
}
.bbs-details-left .details .textarea-wrap textarea {
  border: 2px solid #346af3;
  border-radius: 5px;
  line-height: 36px;
  height: 80px;
  width: 600px;
  padding: 4px 8px;
}
.bbs-details-left .details .textarea-wrap button.send {
  width: 66px;
  height: 28px;
  margin-top: 10px;
  background: #ff9c3c;
  color: #fff;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
  float: right;
  border: 0;
  border-radius: 5px;
}
.bbs-details-left .details .textarea-wrap .smiling {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  float: right;
  margin-right: 40px;
  background: url("../images/icongif.png") no-repeat;
  background-size: 30px;
}
.third-nav-wrap {
  display: none;
  width: 820px;
  background: #fff;
  padding: 20px 50px 44px 20px;
  position: absolute;
  left: 180px;
  z-index: 9;
  top: 0;
}
.third-nav-wrap .third-nav {
  height: 66px;
}
.third-nav-wrap .third-nav .third-label {
  float: left;
  width: 84px;
  height: 24px;
  background: #f3474e;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.third-nav-wrap .third-nav .third-little-label {
  margin-left: 102px;
}
.third-nav-wrap .third-nav .third-little-label li {
  display: inline-block;
  border-left: 1px solid #666666;
  color: #666666;
  text-align: center;
  height: 16px;
  margin: 4px 0;
  line-height: 16px;
  padding: 0 12px;
}
.third-nav-wrap .third-nav .third-little-label li.li-bold {
  border-left: 0;
  color: #333;
  font-weight: bold;
}
.third-nav-wrap .third-nav .third-little-label li:first-child {
  border-left: 0;
}
.bind-user-wrap {
  margin-top: 40px;
  background: #fff;
  height: 450px;
  position: relative;
  border-bottom: 4px solid #f2474f;
}
.bind-user-wrap .bind-user {
  height: 320px;
  width: 480px;
  margin: 10px auto;
  font-size: 14px;
}
.bind-user-wrap h2 {
  line-height: 80px;
  font-size: 20px;
  color: #333;
  text-align: center;
}
.bind-user-wrap .guide {
  height: 32px;
}
.bind-user-wrap .guide li {
  float: left;
  width: 240px;
  border-bottom: 2px solid #c3c3c3;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.bind-user-wrap .guide li.cur {
  color: #f2474f;
  border-bottom: 2px solid #f2474f;
}
.bind-user-wrap .bind-wrap li {
  display: none;
}
.bind-user-wrap .bind-wrap li.bind-cur {
  display: block;
}
.bind-user-wrap .skip {
  display: block;
  line-height: 30px;
  width: 270px;
  margin: auto;
  padding-top: 16px;
  text-align: right;
  color: #3594fe;
}
.bind-user-wrap .item {
  width: 270px;
  margin: auto;
  height: 36px;
}
.bind-user-wrap .item label {
  margin-right: 20px;
}
.bind-user-wrap .item input {
  border: 1px solid #c3c3c3;
  height: 32px;
  padding-left: 4px;
  color: #999;
  width: 194px;
  border-radius: 4px;
}
.bind-user-wrap .item ::-moz-placeholder {
  color: #999;
}
.bind-user-wrap .item ::-webkit-input-placeholder {
  color: #999;
}
.bind-user-wrap .item :-ms-input-placeholder {
  color: #999;
}
.bind-user-wrap .item .send-msg {
  width: 80px;
  line-height: 30px;
  background: #EE474E;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}
.bind-user-wrap .option input {
  background: #ee474e;
  cursor: pointer;
  width: 194px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  margin-top: 30px;
  margin-left: 182px;
}
.bind-user-wrap .item-down {
  height: 66px;
  padding-top: 30px;
}
.bind-user-wrap .item-down .short {
  width: 104px;
}
.bind-user-wrap .register-box {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px;
  padding-left: 182px;
}
.bind-user-wrap .register-box input {
  float: left;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.bind-user-wrap .bind-alert {
  top: 158px;
  display: none;
}
.showAlert {
  position: absolute;
  left: 50%;
  width: 300px;
  height: 160px;
  border-radius: 5px;
  margin-left: -150px;
  background: #fff;
  padding-top: 0;
}
.showAlert .text {
  margin-top: 44px;
  margin-left: 40px;
  background: url("../images/right01.png") no-repeat left;
  background-size: 32px;
  padding-left: 40px;
  height: 32px;
  line-height: 30px;
  font-size: 20px;
}
.showAlert button {
  width: 150px;
  margin-top: 22px;
  margin-left: 80px;
  background: #f2474f;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.fix-content {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  width: 270px;
  z-index: 999;
  background: #eceaeb;
}
.fix-content .title {
  height: 38px;
  color: #666;
  line-height: 38px;
  border-bottom: 1px solid #000;
}
.fix-content .title span {
  display: block;
  float: left;
  height: 38px;
  width: 38px;
  font-size: 24px;
  padding-left: 10px;
}
.fix-content .title .text {
  width: 190px;
  font-size: 18px;
}
.fix-content .title .closed {
  background: url('../images/error.png') no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
.fix-content p.browse {
  height: 26px;
  line-height: 26px;
  padding-left: 10px;
  color: #333;
  font-size: 14px;
}
.fix-content p.browse em {
  color: #f3474e;
}
.fix-content .book-list {
  background: #eceaeb;
}
.fix-content .book-list li {
  background: #fff;
  height: 120px;
  margin-bottom: 10px;
}
.fix-content .book-list li .img-wrap {
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  width: 88px;
  height: 88px;
  border: 1px solid #999;
}
.fix-content .book-list li .good-brief {
  margin-left: 110px;
  padding-top: 10px;
  margin-right: 24px;
}
.fix-content .book-list li .good-brief a {
  display: block;
  height: 60px;
}
.fix-content .book-list li .good-brief p {
  font-size: 14px;
  color: #333;
  line-height: 18px;
}
.fix-content .book-list li .good-brief p.price {
  color: #f3474e;
}
.fix-content .book-list li .good-brief button {
  border: 1px solid #f3474e;
  color: #f3474e;
}
.fix-content .coupon-list {
  margin-top: 10px;
  padding: 0 10px;
}
.fix-content .coupon-list li {
  position: relative;
  margin-bottom: 12px;
}
.fix-content .coupon-list li button {
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: #f3474e;
  text-align: right;
  font-size: 16px;
  border: 0;
  width: 80px;
  height: 20px;
  background: #fff;
}
.fix-content .act-list {
  background: #eceaeb;
}
.fix-content .act-list li {
  height: 68px;
  position: relative;
  background: #fff;
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}
.fix-content .act-list li .img-wrap {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}
.fix-content .act-list li .act-text {
  padding-top: 8px;
  margin-left: 62px;
  margin-right: 10px;
}
.fix-content .act-list li .act-text p {
  line-height: 18px;
}
.fix-content .act-list li .act-text p.price {
  color: #f3474e;
}
.fix-content .act-list li .act-text p.price em {
  color: #999;
  font-size: 12px;
}
.fix-content .act-list li button {
  color: #225ed0;
  position: absolute;
  right: 10px;
  text-align: right;
  width: 30px;
  height: 20px;
  border: 0;
  bottom: 8px;
  background: #fff;
}
.good-cur {
  display: block;
}
.fix-page-wrap {
  margin: 20px auto;
  width: 188px;
}
.fix-page-wrap a {
  border: 1px solid #d5d5d5;
  width: 34px;
  height: 34px;
  background: #fff;
  color: #999;
  text-align: center;
  line-height: 34px;
  display: inline-block;
}
.fix-page-wrap a.cur {
  color: #f3474e;
}
.fix-page-wrap a.icon {
  border: 1px solid #b8b8b8;
  color: #000;
}
.register-basic{
  width: 100%;
  float: none;
}