<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细页面</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_pwce8eyscreh4cxr.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>
<body class="book-home-bg">
    <!-- 顶部导航 -->
    <div class="top-nav-wrap">
        <div class="top-nav-content clearfix">
            <div class="left">
                <i class="icon iconfont icon-dingwei"></i>
                <span>北京</span>
            </div>
            <div class="right clearfix">
                <div class="login-info">
                    <a href="login.html" class="login-btn">您好，请登录</a>
                    <a href="register.html" class="reg-btn">免费注册</a>
                </div>
                <a href="user.html" class="dividing-line nav-item">个人中心</a>
                <a href="javascript:void(0)" class="dividing-line nav-item">APP下载</a>
                <a href="javascript:void(0)" class="dividing-line nav-item">在线客服</a>
            </div>
        </div>
    </div>
    <!-- 搜索 -->
    <div class="index-search-block search-block clearfix">
        <div class="wrap">
            <div class="logo-area clearfix">
                <img src="../images/logo.png" class="logo"/>
            </div>
            <div class="search-area">
                <div class="search-box">
                    <div class="input">
                        <input type="text">
                    </div>
                    <div class="button iconfont icon-sousuo_sousuo">

                    </div>
                </div>
                <ul class="hot-search-item clearfix">
                    <li><a href="javascript:void(0)">新华字典</a></li>
                    <li class="hot"><a href="javascript:void(0)">盗墓笔记</a></li>
                    <li><a href="javascript:void(0)">游戏攻略</a></li>
                    <li class="hot"><a href="javascript:void(0)">考研英语</a></li>
                    <li><a href="javascript:void(0)">游戏攻略</a></li>
                    <li><a href="javascript:void(0)">水浒传</a></li>
                    <li class="hot"><a href="javascript:void(0)">哈利波特全集</a></li>
                </ul>
            </div>
            <div class="my-order">
                <a href="orderList.html">我的订单</a>
            </div>
            <div class="shopping-cart">
                <a href="cart.html">购物车</a>
            </div>
        </div>
    </div>
    <!-- 主导航 -->
    <div class="main-nav-wrap">
        <div class="main-nav clearfix">
            <div class="dropdown toggle-nav">
                <div class="dropdown-title clearfix"><i class="iconfont icon-fenlei"></i><span>全部电子书分类</span></div>
                <div class="dropdown-nav">
                    <div class="block">
                        <div class="block-title"><a href="">特色分类</a></div>
                        <ul class="block-item clearfix">
                            <li><a href="">排行榜</a></li>
                            <li><a href="">排行榜</a></li>
                        </ul>
                    </div>
                    <div class="block">
                        <div class="block-title"><a href="">童书馆</a></div>
                        <ul class="block-item clearfix">
                            <li><a href="">0-2</a></li>
                            <li><a href="">3-6</a></li>
                            <li><a href="">7-10</a></li>
                            <li><a href="">11-14</a></li>
                            <li><a href="">绘本</a></li>
                            <li><a href="">自然百科</a></li>
                        </ul>
                    </div>
                    <div class="block">
                        <div class="block-title"><a href="">文学馆</a></div>
                        <ul class="block-item clearfix">
                            <li><a href="">小说</a></li>
                            <li><a href="">文学</a></li>
                            <li><a href="">青春</a></li>
                            <li><a href="">传记</a></li>
                            <li><a href="">动漫</a></li>
                            <li><a href="">历史</a></li>
                        </ul>
                    </div>
                    <div class="block">
                        <div class="block-title"><a href="">计算机</a></div>
                        <ul class="block-item clearfix">
                            <li><a href="">C语言</a></li>
                            <li><a href="">办公软件</a></li>
                            <li><a href="">智能</a></li>
                        </ul>
                    </div>
                    <div class="block">
                        <div class="block-title"><a href="">计算机</a></div>
                        <ul class="block-item clearfix">
                            <li><a href="">C语言</a></li>
                            <li><a href="">办公软件</a></li>
                            <li><a href="">智能</a></li>
                            <li><a href="">C语言</a></li>
                            <li><a href="">办公软件</a></li>
                            <li><a href="">智能</a></li>
                            <li><a href="">C语言</a></li>
                            <li><a href="">办公软件</a></li>
                            <li><a href="">智能</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav clearfix">
                <li><a href="">首页</a></li>
                <li><a href="goods-pre-sale.html">预售</a></li>
                <li><a href="ebook.html">电子书</a></li>
                <li><a href="#">非出版</a></li>
                <li><a href="publishing-list.html">出版社</a></li>
                <li><a href="mylibrary.html">图书馆</a></li>
                <li><a href="book-community.html">图书社群</a></li>
                <li><a href="store-channel.html">门店频道</a></li>
                <li><a href="webcast.html">视频直播</a></li>
                <li><a href="">特价</a></li>
            </ul>
        </div>
    </div>

    <!--签售会-->
    <div class="book-signing">
        <div class="signing-title">爸爸去哪儿2官方授权图书签售会</div>
        <div class="signing-info shadow clearfix">
            <div class="cover"><img src=""></div>
            <div class="detail">
                <div class="name">爸爸去哪儿图书签收</div>
                <div class="intro">
                    简介：科幻史诗极具代表行作品，绽放“中国想象力”
                    科幻史诗极具代表行的作品，绽放“中国想象力”科
                    幻史诗极具代表行的作品，绽放“中国想象力”
                </div>
                <div class="parameter clearfix">
                    <label>直播时间</label>
                    <span>11月17日 10:00</span>
                </div>
                <div class="parameter clearfix">
                    <label>作者</label>
                    <span>李硕</span>
                </div>
                <div class="parameter clearfix">
                    <label>关注度</label>
                    <span>2198</span>
                </div>
                <a href="" class="button">回放</a>
            </div>
        </div>
    </div>
    <!--推荐书本-->
    <div class="ad-recommend-books shadow">
        <div class="ad-recommend-books-wrap clearfix">
            <div class="goods">
                <a href="" class="cover"><img src="" ></a>
                <a href="" class="name">孙俪推荐 黄帝内经</a>
                <div class="author">马辉、苗欣宇 著</div>
                <div class="other clearfix">
                    <span class="price">￥35.00</span>
                    <a href="" class="buy">购买图书</a>
                </div>
            </div>
            <div class="goods">
                <a href="" class="cover"><img src="" ></a>
                <a href="" class="name">孙俪推荐 黄帝内经</a>
                <div class="author">马辉、苗欣宇 著</div>
                <div class="other clearfix">
                    <span class="price">￥35.00</span>
                    <a href="" class="buy">购买图书</a>
                </div>
            </div>
            <div class="goods">
                <a href="" class="cover"><img src="" ></a>
                <a href="" class="name">孙俪推荐 黄帝内经</a>
                <div class="author">马辉、苗欣宇 著</div>
                <div class="other clearfix">
                    <span class="price">￥35.00</span>
                    <a href="" class="buy">购买图书</a>
                </div>
            </div>
            <div class="goods">
                <a href="" class="cover"><img src="" ></a>
                <a href="" class="name">孙俪推荐 黄帝内经</a>
                <div class="author">马辉、苗欣宇 著</div>
                <div class="other clearfix">
                    <span class="price">￥35.00</span>
                    <a href="" class="buy">购买图书</a>
                </div>
            </div>
        </div>
    </div>
    <!--详情评论-->
    <div class="detail-comment shadow">
        <div class="title"><span>评论</span></div>
        <div class="content">
            <div class="comment-btn clearfix"><a href="" class="btn">评论</a> </div>
            <ul class="detail-comment-item">
                <li class="item clearfix">
                    <div class="user-box">
                        <a href="" class="avater"><img src=""></a>
                        <p class="name">用户名</p>
                        <div class="zan my-zan"><i class="iconfont icon-zan"></i><span>134</span></div>
                    </div>
                    <div class="comment-text">
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                    </div>
                </li>
                <li class="item clearfix">
                    <div class="user-box">
                        <a href="" class="avater"><img src=""></a>
                        <p class="name">用户名</p>
                        <div class="zan"><i class="iconfont icon-zan"></i><span>134</span></div>
                    </div>
                    <div class="comment-text">
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                    </div>
                </li>
                <li class="item clearfix">
                    <div class="user-box">
                        <a href="" class="avater"><img src=""></a>
                        <p class="name">用户名</p>
                        <div class="zan"><i class="iconfont icon-zan"></i><span>134</span></div>
                    </div>
                    <div class="comment-text">
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                    </div>
                </li>
                <li class="item clearfix">
                    <div class="user-box">
                        <a href="" class="avater"><img src=""></a>
                        <p class="name">用户名</p>
                        <div class="zan"><i class="iconfont icon-zan"></i><span>134</span></div>
                    </div>
                    <div class="comment-text">
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                        1980年12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹
                        难，唯一奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。1980年
                        12月23日凌晨，一架从伊斯坦布尔飞往巴黎的飞机坠毁在法瑞边界，包含机组人员在内的169名乘客中，有168名瞬间罹难，唯一
                        奇迹生还的是一名三个月大的女婴，身份难辨。两个家庭匆忙赶来，为此争执不下，由此引发的调查持续了18年。
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--通栏广告-->
    <div class="full-ad">
        <a href=""><img src="../images/fullad.jpg"/></a>
    </div>
    <!--标志-->
    <div class="icon-item clearfix">
        <div class="wrap">
            <div class="icon-box">
                <img src="../images/g.png"/>
                <div class="text">
                    <p>正品保障</p>
                    <p>品牌厂商</p>
                    <p>品牌厂商</p>
                </div>
            </div>
            <div class="icon-box">
                <img src="../images/g.png"/>
                <div class="text">
                    <p>正品保障</p>
                    <p>品牌厂商</p>
                    <p>品牌厂商</p>
                </div>
            </div>
            <div class="icon-box">
                <img src="../images/g.png"/>
                <div class="text">
                    <p>正品保障</p>
                    <p>品牌厂商</p>
                    <p>品牌厂商</p>
                </div>
            </div>
            <div class="icon-box">
                <img src="../images/g.png"/>
                <div class="text">
                    <p>正品保障</p>
                    <p>品牌厂商</p>
                    <p>品牌厂商</p>
                </div>
            </div>
            <div class="icon-box">
                <img src="../images/g.png"/>
                <div class="text">
                    <p>正品保障</p>
                    <p>品牌厂商</p>
                    <p>品牌厂商</p>
                </div>
            </div>
        </div>
    </div>
    <!--帮助-->
    <div class="help-item clearfix">
        <div class="wrap clearfix">
            <div class="help-box">
                <h3>新手入门</h3>
                <a href="" class="help-url">购物保障</a>
                <a href="" class="help-url">服务协议</a>
                <a href="" class="help-url">发票说明</a>
            </div>
            <div class="help-box">
                <h3>常见问题</h3>
                <a href="" class="help-url">优惠券使用</a>
            </div>
            <div class="help-box">
                <h3>配色说明</h3>
                <a href="" class="help-url">配送时间</a>
                <a href="" class="help-url">配送费用</a>
                <a href="" class="help-url">配送范围</a>
            </div>
            <div class="help-box">
                <h3>支付方式</h3>
                <a href="" class="help-url">在线支付</a>
            </div>
            <div class="help-box">
                <h3>售后服务</h3>
                <a href="" class="help-url">品质保障</a>
                <a href="" class="help-url">退换货政策</a>
                <a href="" class="help-url">退换货流程</a>
            </div>
        </div>

    </div>
    <!--二维码-->
    <div class="qrcode-item clearfix">
        <div class="wrap clearfix">
            <div class="qrcode">
                <img src="../images/c.png">
                <span>xinhuahulian.com</span>
            </div>
            <div class="qrcode">
                <img src="../images/c.png">
                <span>xinhuahulian.com</span>
            </div>
            <div class="qrcode">
                <img src="../images/c.png">
                <span>xinhuahulian.com</span>
            </div>
        </div>
    </div>
    <!--底部导航-->
    <div class="bottom-nav">
        <ul class="nav-item clearfix">
            <li><a href="">公司简介</a></li>
            <li><a href="">团队管理</a></li>
            <li><a href="">媒体报道</a></li>
            <li><a href="">联系我吗</a></li>
            <li><a href="">招贤纳士</a></li>
        </ul>
        <div class="website-info">
            新华发行网 2015XXXXX.com   AII Rights Reserved   京ICP备 XXXXXXXXXX号-1  京公网备XXXXXXXXXX
        </div>
        <div class="safe-info">
            可信平台·工商认证·信用企业
        </div>
    </div>
<script>
    (function () {

        function counter(obj, v) {
            var val = parseInt(obj.find('.area').val());
            val += v;
            if(val < 0) {
                val = 0;
            }
            obj.find('.area').val(val);
        }

        $('.counter .cut').click(function(){
            counter($(this).parent('.counter'), -1);
        });

        $('.counter .add').click(function() {
            counter($(this).parent('.counter'), 1);
        });

        var featured = new Swiper('.products-featured-container', {
            loop: true,
        });

        $('.featured-slide-box .prev').click(function () {
            featured.slidePrev();
        });

        $('.featured-slide-box .next').click(function () {
            featured.slideNext();
        });


        $('.toggle-nav').mouseover(function () {
            $(this).find('.dropdown-nav').show();
        });

        $('.toggle-nav').mouseleave(function () {
            $(this).find('.dropdown-nav').hide();
        })

    })()
</script>
</body>
</html>
