<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/zzj3.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_9xrcye5m5bhgp66r.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
</head>
<body class="book-home-bg">
<!-- 顶部导航 -->
<div class="top-nav-wrap">
    <div class="top-nav-content clearfix">
        <div class="left">
            <i class="icon iconfont icon-dingwei"></i>
            <span>北京</span>
        </div>
        <div class="right clearfix">
            <div class="login-info">
                <a href="login.html" class="login-btn">您好，请登录</a>
                <a href="register.html" class="reg-btn">免费注册</a>
            </div>
            <a href="user.html" class="dividing-line nav-item">个人中心</a>
            <a href="javascript:void(0)" class="dividing-line nav-item">APP下载</a>
            <a href="javascript:void(0)" class="dividing-line nav-item">在线客服</a>
        </div>
    </div>
</div>
<!-- 搜索 -->
<div class="index-search-block search-block clearfix">
    <div class="wrap">
        <div class="logo-area clearfix">
            <img src="../images/logo.png" class="logo"/>
        </div>
        <div class="search-area">
            <div class="search-box">
                <div class="input">
                    <input type="text">
                </div>
                <div class="button iconfont icon-sousuo_sousuo">

                </div>
            </div>
            <ul class="hot-search-item clearfix">
                <li><a href="javascript:void(0)">新华字典</a></li>
                <li class="hot"><a href="javascript:void(0)">盗墓笔记</a></li>
                <li><a href="javascript:void(0)">游戏攻略</a></li>
                <li class="hot"><a href="javascript:void(0)">考研英语</a></li>
                <li><a href="javascript:void(0)">游戏攻略</a></li>
                <li><a href="javascript:void(0)">水浒传</a></li>
                <li class="hot"><a href="javascript:void(0)">哈利波特全集</a></li>
            </ul>
        </div>
        <div class="my-order">
            <a href="orderList.html">我的订单</a>
        </div>
        <div class="shopping-cart">
            <a href="cart.html">购物车</a>
        </div>
    </div>
</div>
<!-- 主导航 -->
<div class="main-nav-wrap">
    <div class="main-nav clearfix">
        <div class="dropdown toggle-nav">
            <div class="dropdown-title clearfix"><i class="iconfont icon-fenlei"></i><span>全部电子书分类</span></div>
            <div class="dropdown-nav">
                <div class="block">
                    <div class="block-title"><a href="">特色分类</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">排行榜</a></li>
                        <li><a href="">排行榜</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">童书馆</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">0-2</a></li>
                        <li><a href="">3-6</a></li>
                        <li><a href="">7-10</a></li>
                        <li><a href="">11-14</a></li>
                        <li><a href="">绘本</a></li>
                        <li><a href="">自然百科</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">文学馆</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">小说</a></li>
                        <li><a href="">文学</a></li>
                        <li><a href="">青春</a></li>
                        <li><a href="">传记</a></li>
                        <li><a href="">动漫</a></li>
                        <li><a href="">历史</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">计算机</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">计算机</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav clearfix">
            <li><a href="">首页</a></li>
            <li><a href="goods-pre-sale.html">预售</a></li>
            <li><a href="ebook.html">电子书</a></li>
            <li><a href="#">非出版</a></li>
            <li><a href="publishing-list.html">出版社</a></li>
            <li><a href="mylibrary.html">图书馆</a></li>
            <li><a href="book-community.html">图书社群</a></li>
            <li><a href="store-channel.html">门店频道</a></li>
            <li><a href="webcast.html">视频直播</a></li>
            <li><a href="">特价</a></li>
        </ul>
    </div>
</div>
<div class="z-content-wrap">
    <div class="z-content">
        <div class="notice-details-right">
            <img src="../images/n-details02.png" alt="" width="100%">
            <img src="../images/n-details03.png" alt="" width="100%">
            <div class="news">
                <h2>热门新闻</h2>
                <ul>
                    <li>
                        <span class="red-dot"></span>
                        <span>缤纷圣诞，人文经典限时抢购</span>
                    </li>
                    <li>
                        <span class="red-dot"></span>
                        <span>缤纷圣诞，人文经典限时抢购</span>
                    </li>
                    <li>
                        <span class="red-dot"></span>
                        <span>缤纷圣诞，人文经典限时抢购</span>
                    </li>
                    <li>
                        <span class="red-dot"></span>
                        <span>缤纷圣诞，人文经典限时抢购</span>
                    </li>
                    <li>
                        <span class="red-dot"></span>
                        <span>缤纷圣诞，人文经典限时抢购</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="notice-details-left">
            <div class="navBar">
                当前位置：全部公告>最新消息的标题最新消息的标题
            </div>
            <div class="title-wrap">
                <h1>最新消息标题</h1>
                <div class="publish-wrap">
                    <div>发布于2016-11-25</div>
                    <div>来源：新华发行网官方</div>
                </div>
            </div>
            <img src="../images/n-details01.png" alt="" width="100%">
            <div class="content">
                <p>
                    详细消息内容，这里可以显示公告的消息内容哦，这里可以显示公告的消息内容哦这里可以显示公告的消息内容哦这里可以显示公告的消息内容哦这里可以显消息内容哦这里可以显示公告的消息内容哦这里可以显消息内容哦这里可以显示公告的消息内容哦这里可以显
                </p>
                <p>
                    民生冷暖，关系万家忧乐，牵动着党中央的心。“雾霾天能不能减少”“13亿多人生活环境改善”“提高养老院服务质量”“加强食品安全监管”……近日，习近平总书记主持召开中央财经领导小组第十四次会议，坚持以人民为中心的发展思想，就解决好人民群众普遍关心的突出问题、抓好重大工程项目落实等发表重要讲话，着重对百姓关切的6件民生大事作出具体部署。习总书记的重要讲话，体现了鲜明的人民立场，蕴含深厚的民生情怀，彰显共产党人的责任担当，在隆隆寒冬里向广大群众送来阵阵暖意，为我们进一步做好民生工作、决胜全面小康提供了实践指南。
                </p>
                <p>
                    “为政之道，以顺民心为本，以厚民生为本”。党的十八大以来，民生始终是习近平总书记念兹在兹的重大关切，贯穿于党中央治国理政的方方面面。把“人民对美好生活的向往”作为奋斗目标，作出“抓民生也是抓发展”的科学论断，提出创新、协调、绿色、开放、共享的新发展理念，在大江南北留下看真贫、解民忧的调研考察足迹……所思所行，充分体现了我们党为人民服务的宗旨、以人民为中心的发展思想。四年来，在以习近平同志为核心的党中央坚强领导下，惠民举措持续出台、民生改革不断深化，人民群众的获得感、幸福感不断增强，极大地凝聚了人心、提振了信心。“为政之道，以顺民心为本，以厚民生为本”。党的十八大以来，民生始终是习近平总书记念兹在兹的重大关切，贯穿于党中央治国理政的方方面面。把“人民对美好生活的向往”作为奋斗目标，作出“抓民生也是抓发展”的科学论断，提出创新、协调、绿色、开放、共享的新发展理念，在大江南北留下看真贫、解民忧的调研考察足迹……所思所行，充分体现了我们党为人民服务的宗旨、以人民为中心的发展思想。四年来，在以习近平同志为核心的党中央坚强领导下，惠民举措持续出台、民生改革不断深化，人民群众的获得感、幸福感不断增强，极大地凝聚了人心、提振了信心。“为政之道，以顺民心为本，以厚民生为本”。党的十八大以来，民生始终是习近平总书记念兹在兹的重大关切，贯穿于党中央治国理政的方方面面。把“人民对美好生活的向往”作为奋斗目标，作出“抓民生也是抓发展”的科学论断，提出创新、协调、绿色、开放、共享的新发展理念，在大江南北留下看真贫、解民忧的调研考察足迹……所思所行，充分体现了我们党为人民服务的宗旨、以人民为中心的发展思想。四年来，在以习近平同志为核心的党中央坚强领导下，惠民举措持续出台、民生改革不断深化，人民群众的获得感、幸福感不断增强，极大地凝聚了人心、提振了信心。
                </p>
            </div>
            <div class="go-back">
                返回首页
            </div>
            <div class="page-btn">
                <div class="page-prev">上一篇：我是标题我是标题我是标题</div>
                <div class="page-next">下一篇：我是标题我是标题我是标题</div>
            </div>
        </div>
    </div>
</div>
<!--通栏广告-->
<div class="full-ad">
    <a href=""><img src="../images/fullad.jpg"/></a>
</div>
<!--标志-->
<div class="icon-item clearfix">
    <div class="wrap">
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <div>正品保障</div>
                <div>品牌厂商</div>
                <div>品牌厂商</div>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <div>正品保障</div>
                <div>品牌厂商</div>
                <div>品牌厂商</div>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <div>正品保障</div>
                <div>品牌厂商</div>
                <div>品牌厂商</div>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <div>正品保障</div>
                <div>品牌厂商</div>
                <div>品牌厂商</div>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <div>正品保障</div>
                <div>品牌厂商</div>
                <div>品牌厂商</div>
            </div>
        </div>
    </div>
</div>
<!--帮助-->
<div class="help-item clearfix">
    <div class="wrap clearfix">
        <div class="help-box">
            <h3>新手入门</h3>
            <a href="" class="help-url">购物保障</a>
            <a href="" class="help-url">服务协议</a>
            <a href="" class="help-url">发票说明</a>
        </div>
        <div class="help-box">
            <h3>常见问题</h3>
            <a href="" class="help-url">优惠券使用</a>
        </div>
        <div class="help-box">
            <h3>配色说明</h3>
            <a href="" class="help-url">配送时间</a>
            <a href="" class="help-url">配送费用</a>
            <a href="" class="help-url">配送范围</a>
        </div>
        <div class="help-box">
            <h3>支付方式</h3>
            <a href="" class="help-url">在线支付</a>
        </div>
        <div class="help-box">
            <h3>售后服务</h3>
            <a href="" class="help-url">品质保障</a>
            <a href="" class="help-url">退换货政策</a>
            <a href="" class="help-url">退换货流程</a>
        </div>
    </div>

</div>
<!--二维码-->
<div class="qrcode-item clearfix">
    <div class="wrap clearfix">
        <div class="qrcode">
            <img src="../images/c.png">
            <span>xinhuahulian.com</span>
        </div>
        <div class="qrcode">
            <img src="../images/c.png">
            <span>xinhuahulian.com</span>
        </div>
        <div class="qrcode">
            <img src="../images/c.png">
            <span>xinhuahulian.com</span>
        </div>
    </div>
</div>
<!--底部导航-->
<div class="bottom-nav">
    <ul class="nav-item clearfix">
        <li><a href="">公司简介</a></li>
        <li><a href="">团队管理</a></li>
        <li><a href="">媒体报道</a></li>
        <li><a href="">联系我吗</a></li>
        <li><a href="">招贤纳士</a></li>
    </ul>
    <div class="website-info">
        新华发行网 2015XXXXX.com AII Rights Reserved 京ICP备 XXXXXXXXXX号-1 京公网备XXXXXXXXXX
    </div>
    <div class="safe-info">
        可信平台·工商认证·信用企业
    </div>
</div>
<script>
    $(document).ready(function () {

    })
</script>

<!--右侧悬浮导航-->
<ul class="fix-nav">
    <li><a href="" class="iconfont icon-gouwuche2"></a></li>
    <li><a href="" class="iconfont icon-xin"></a></li>
    <li><a href="" class="iconfont icon-jiaoyin"></a></li>
    <li><a href="" class="iconfont icon-jiaxiquan"></a></li>
    <li><a href="" class="iconfont icon-bianji"></a></li>
    <li onclick="$(document).scrollTop(0)"><a href="javascript:void(0)" class="iconfont icon-huidaodingbu"></a></li>
</ul>
</body>
</html>
