<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交订单</title>
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_w6hh4sp38hvvx6r.css">
	<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>
<!-- 顶部导航 -->
<div class="top-nav-wrap">
    <div class="top-nav-content clearfix">
        <div class="left">
            <i class="icon iconfont icon-dingwei"></i>
            <span>北京</span>
        </div>
        <div class="right clearfix">
            <div class="login-info">
                <a href="login.html" class="login-btn">您好，请登录</a>
                <a href="register.html" class="reg-btn">免费注册</a>
            </div>
            <a href="user.html" class="dividing-line nav-item">个人中心</a>
            <a href="javascript:void(0)" class="dividing-line nav-item">APP下载</a>
            <a href="javascript:void(0)" class="dividing-line nav-item">在线客服</a>
        </div>
    </div>
</div>
<div class="order">
	<div class="guide">确认订单信息</div>
	<div class="panel">
		<h2 class="title">收货人信息</h2>
		<div class="address">
			<ul>
				<li class="clearfix">
					<label class="info">
						<input type="radio" name="receiver">
						<span class="tag">jeox</span>
						<span>jeox</span>
						<span>北京 - 北京市 - 丰台区 - fasdwd</span>
						<span>136****4566</span>
					</label>
						<span class="option">
							<label><input type="checkbox">设为默认</label>
							<a href="#">修改</a>
							<a href="#">删除</a>
						</span>
				</li>
				<li class="clearfix">
					<label class="info">
						<input type="radio" name="receiver">
						<span class="tag">jeox</span>
						<span>jeox</span>
						<span>北京 - 北京市 - 丰台区 - fasdwd</span>
						<span>136****4566</span>
					</label>
						<span class="option">
							<label><input type="checkbox">设为默认</label>
							<a href="#">修改</a>
							<a href="#">删除</a>
						</span>
				</li>
			</ul>
			<div class="add">
				<a href="#">+新增收货地址</a>
			</div>
		</div>
		<div class="line"></div>
		<h2 class="title">配送信息</h2>
		<div class="distribution">
			<ul>
				<li class="clearfix">
					<label>
						<input type="radio" name="way">
						<span>快递配送</span>
					</label>
				</li>
				<li class="clearfix">
					<label>
						<input type="radio" name="way">
						<span>用户自提</span>
						<span>陈楠楠</span>
						<span>北京啊啊啊啊啊啊啊啊啊</span>
						<span>136****4566</span>
					</label>
						<span class="option">
							<a href="#">更改自提地址</a>
						</span>
				</li>
			</ul>
		</div>
		<div class="line"></div>
		<h2 class="title">支付信息</h2>
		<div class="pay-info">
			<ul class="choose">
				<li class="clearfix">
					<label>
						<input type="radio" name="payWay"><img src="../images/01.png" alt="支付宝"><span>支付宝</span>
					</label>
				</li>
				<li class="clearfix">
					<label>
						<input type="radio" name="payWay"><img src="../images/02.png" alt="微信支付"><span>微信支付</span>
					</label>
				</li>
				<li class="clearfix">
					<label>
						<input type="radio" name="payWay"><img src="../images/03.png" alt="网银支付"><span>网银支付</span>
					</label>
				</li>
			</ul>
			<ul class="list clearfix">
				<li><label><input type="radio" name="bank"><img src="../images/03.jpg" alt=""></label></li>
				<li><label><input type="radio" name="bank"><img src="../images/03.jpg" alt=""></label></li>
				<li><label><input type="radio" name="bank"><img src="../images/03.jpg" alt=""></label></li>
				<li><label><input type="radio" name="bank"><img src="../images/03.jpg" alt=""></label></li>
				<li><label><input type="radio" name="bank"><img src="../images/03.jpg" alt=""></label></li>
				<li><label><input type="radio" name="bank"><img src="../images/03.jpg" alt=""></label></li>
			</ul>
		</div>
		<div class="line"></div>
		<h2 class="title">发票信息</h2>
		<div class="invoice">
			<div class="panel">
				<div class="item">
					是否开具发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" name="invoice">是</label>
					<label><input type="radio" name="invoice">否</label></div>
				<div class="item">
					发票抬头：
					<select>
						<option>公司</option>
						<option>哈哈哈</option>
						<option>123</option>
						<option>123</option>
					</select>
					<input type="text" name="" placeholder="填写公司名称">
				</div>
				<div class="item">
					发票类型：
					<select>
						<option>普通增值税发票</option>
						<option>123</option>
						<option>123</option>
						<option>123</option>
					</select>
					发票介质：
					<select>
						<option>电子发票</option>
						<option>123</option>
						<option>123</option>
						<option>123</option>
					</select>
				</div>
				<div class="item">
					发票内容：
					<select>
						<option>普通增值税发票</option>
						<option>123</option>
						<option>123</option>
						<option>123</option>
					</select>
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="goods">
			<div class="item">
				<table>
					<colgroup>
						<col width="550">
						<col width="150">
						<col width="150">
					</colgroup>
					<tbody>
					<tr>
						<td>丝绸之路：一部全新的世界史</td>
						<td>¥&nbsp;30.00</td>
						<td>1</td>
						<td>¥&nbsp;30.00</td>
					</tr>
					<tr>
						<td>丝绸之路：一部全新的世界史</td>
						<td>¥&nbsp;30.00</td>
						<td>1</td>
						<td>¥&nbsp;30.00</td>
					</tr>
					<tr>
						<td>丝绸之路：一部全新的世界史</td>
						<td>¥&nbsp;30.00</td>
						<td>1</td>
						<td>¥&nbsp;30.00</td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td>卖家留言：<input type="text" name=""></td>
						<td colspan="3"><span>配送费：普通配送 ¥8.00</span><span
								class="total">金额合计: ￥<strong>68.00</strong></span></td>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="line"></div>
		<h2 class="title">订单结算</h2>
		<div class="balance">
			<div class="item clearfix">
				<div class="tag"><label><input type="checkbox" name="">使用优惠券/红包</label></div>
				<div>
					请选择优惠券：
					<select>
						<option>123</option>
					</select>
				</div>
			</div>
			<div class="item clearfix">
				<div class="tag"><label><input type="checkbox" name="">使用礼品卡</label></div>
				<div>
					<div>
						<span>请输入您的礼品卡卡号：</span><input type="text" class="long"><a href="#" class="option">选择已绑定礼品卡</a>
					</div>
					<div>
						<span>请输入您的礼品卡卡号：</span><input type="text" class="short">&nbsp;-&nbsp;<input type="text"
																									 class="short">&nbsp;-&nbsp;<input
							type="text" class="short">&nbsp;-&nbsp;<input type="text" class="short">
					</div>
					<div>
						<span>&nbsp;</span><input class="on" type="button" value="绑定并使用"><input type="button"
																								value="使用">
					</div>
				</div>
			</div>
			<div class="item clearfix">
				<div class="tag"><label><input type="checkbox" name="">使用礼品卡</label></div>
				<div>
					账户可用余额：<input type="text">
				</div>
			</div>
		</div>
	</div>
	<div class="submit-order">
		<div class="to-cart">
			<a href="#">&lt;返回购物车</a>
		</div>
		<div class="order-info">
			<div class="tips">应付总金额：</div>
			<div class="details">
				<p>商品总价：￥112.00+运费：￥16.00+优惠：￥0.00+扣减：￥-100.00=￥<strong>28.00</strong></p>
				<p class="sub">陈南南&emsp;&emsp;135****9613&emsp;&emsp;北京 丰台区 三环到四环之间 南方庄小区2号楼3单元10层1001</p>
			</div>
			<div class="submit-btn">
				<input type="button" value="提交订单">
			</div>
		</div>
	</div>
</div>
<!--通栏广告-->
<div class="full-ad">
	<a href=""><img src="../images/fullad.jpg"/></a>
</div>
<!--标志-->
<div class="icon-item clearfix">
	<div class="wrap">
		<div class="icon-box">
			<img src="../images/g.png"/>
			<div class="text">
				<p>正品保障</p>
				<p>品牌厂商</p>
				<p>品牌厂商</p>
			</div>
		</div>
		<div class="icon-box">
			<img src="../images/g.png"/>
			<div class="text">
				<p>正品保障</p>
				<p>品牌厂商</p>
				<p>品牌厂商</p>
			</div>
		</div>
		<div class="icon-box">
			<img src="../images/g.png"/>
			<div class="text">
				<p>正品保障</p>
				<p>品牌厂商</p>
				<p>品牌厂商</p>
			</div>
		</div>
		<div class="icon-box">
			<img src="../images/g.png"/>
			<div class="text">
				<p>正品保障</p>
				<p>品牌厂商</p>
				<p>品牌厂商</p>
			</div>
		</div>
		<div class="icon-box">
			<img src="../images/g.png"/>
			<div class="text">
				<p>正品保障</p>
				<p>品牌厂商</p>
				<p>品牌厂商</p>
			</div>
		</div>
	</div>
</div>
<!--帮助-->
<div class="help-item clearfix">
	<div class="wrap clearfix">
		<div class="help-box">
			<h3>新手入门</h3>
			<a href="" class="help-url">购物保障</a>
			<a href="" class="help-url">服务协议</a>
			<a href="" class="help-url">发票说明</a>
		</div>
		<div class="help-box">
			<h3>常见问题</h3>
			<a href="" class="help-url">优惠券使用</a>
		</div>
		<div class="help-box">
			<h3>配色说明</h3>
			<a href="" class="help-url">配送时间</a>
			<a href="" class="help-url">配送费用</a>
			<a href="" class="help-url">配送范围</a>
		</div>
		<div class="help-box">
			<h3>支付方式</h3>
			<a href="" class="help-url">在线支付</a>
		</div>
		<div class="help-box">
			<h3>售后服务</h3>
			<a href="" class="help-url">品质保障</a>
			<a href="" class="help-url">退换货政策</a>
			<a href="" class="help-url">退换货流程</a>
		</div>
	</div>

</div>
<!--二维码-->
<div class="qrcode-item clearfix">
	<div class="wrap clearfix">
		<div class="qrcode">
			<img src="../images/c.png">
			<span>xinhuahulian.com</span>
		</div>
		<div class="qrcode">
			<img src="../images/c.png">
			<span>xinhuahulian.com</span>
		</div>
		<div class="qrcode">
			<img src="../images/c.png">
			<span>xinhuahulian.com</span>
		</div>
	</div>
</div>
<!--底部导航-->
<div class="bottom-nav">
	<ul class="nav-item clearfix">
		<li><a href="">公司简介</a></li>
		<li><a href="">团队管理</a></li>
		<li><a href="">媒体报道</a></li>
		<li><a href="">联系我吗</a></li>
		<li><a href="">招贤纳士</a></li>
	</ul>
	<div class="website-info">
		新华发行网 2015XXXXX.com AII Rights Reserved 京ICP备 XXXXXXXXXX号-1 京公网备XXXXXXXXXX
	</div>
	<div class="safe-info">
		可信平台·工商认证·信用企业
	</div>
</div>
</body>
<script>
	$(document).ready(function(){
		$('.submit-btn input').click(function(){
			window.location.href='submit-tips.html'
		})
	})
</script>
</html>
