<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情-秒杀</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_9xrcye5m5bhgp66r.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>
<body class="book-home-bg">
<!-- 顶部导航 -->
<div class="top-nav-wrap">
    <div class="top-nav-content clearfix">
        <div class="left">
            <i class="icon iconfont icon-dingwei"></i>
            <span>北京</span>
        </div>
        <div class="right clearfix">
            <div class="login-info">
                <a href="login.html" class="login-btn">您好，请登录</a>
                <a href="register.html" class="reg-btn">免费注册</a>
            </div>
            <a href="user.html" class="dividing-line nav-item">个人中心</a>
            <a href="javascript:void(0)" class="dividing-line nav-item">APP下载</a>
            <a href="javascript:void(0)" class="dividing-line nav-item">在线客服</a>
        </div>
    </div>
</div>
<!-- 搜索 -->
<div class="index-search-block search-block clearfix">
    <div class="wrap">
        <div class="logo-area clearfix">
            <img src="../images/logo.png" class="logo"/>
        </div>
        <div class="search-area">
            <div class="search-box">
                <div class="input">
                    <input type="text">
                </div>
                <div class="button iconfont icon-sousuo_sousuo">

                </div>
            </div>
            <ul class="hot-search-item clearfix">
                <li><a href="javascript:void(0)">新华字典</a></li>
                <li class="hot"><a href="javascript:void(0)">盗墓笔记</a></li>
                <li><a href="javascript:void(0)">游戏攻略</a></li>
                <li class="hot"><a href="javascript:void(0)">考研英语</a></li>
                <li><a href="javascript:void(0)">游戏攻略</a></li>
                <li><a href="javascript:void(0)">水浒传</a></li>
                <li class="hot"><a href="javascript:void(0)">哈利波特全集</a></li>
            </ul>
        </div>
        <div class="my-order">
            <a href="orderList.html">我的订单</a>
        </div>
        <div class="shopping-cart">
            <a href="cart.html">购物车</a>
        </div>
    </div>
</div>
<!-- 主导航 -->
<div class="main-nav-wrap">
    <div class="main-nav clearfix">
        <div class="dropdown toggle-nav">
            <div class="dropdown-title clearfix"><i class="iconfont icon-fenlei"></i><span>全部电子书分类</span></div>
            <div class="dropdown-nav">
                <div class="block">
                    <div class="block-title"><a href="">特色分类</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">排行榜</a></li>
                        <li><a href="">排行榜</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">童书馆</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">0-2</a></li>
                        <li><a href="">3-6</a></li>
                        <li><a href="">7-10</a></li>
                        <li><a href="">11-14</a></li>
                        <li><a href="">绘本</a></li>
                        <li><a href="">自然百科</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">文学馆</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">小说</a></li>
                        <li><a href="">文学</a></li>
                        <li><a href="">青春</a></li>
                        <li><a href="">传记</a></li>
                        <li><a href="">动漫</a></li>
                        <li><a href="">历史</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">计算机</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                    </ul>
                </div>
                <div class="block">
                    <div class="block-title"><a href="">计算机</a></div>
                    <ul class="block-item clearfix">
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                        <li><a href="">C语言</a></li>
                        <li><a href="">办公软件</a></li>
                        <li><a href="">智能</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav clearfix">
            <li><a href="">首页</a></li>
            <li><a href="goods-pre-sale.html">预售</a></li>
            <li><a href="ebook.html">电子书</a></li>
            <li><a href="#">非出版</a></li>
            <li><a href="publishing-list.html">出版社</a></li>
            <li><a href="mylibrary.html">图书馆</a></li>
            <li><a href="book-community.html">图书社群</a></li>
            <li><a href="store-channel.html">门店频道</a></li>
            <li><a href="webcast.html">视频直播</a></li>
            <li><a href="">特价</a></li>
        </ul>
    </div>
</div>
<!-- 面包屑导航 -->
<div class="breadcrumbs clearfix">
    <a href="">图书</a>
    <i class="iconfont icon-dayuhao"></i>
    <a href="">摄影</a>
    <i class="iconfont icon-dayuhao"></i>
    <a href="">摄影技法</a>
    <i class="iconfont icon-dayuhao"></i>
    <span>美国摄影教程（第11版）</span>
</div>
<!-- 商品信息 -->
<div class="goods-info shadow clearfix">
    <div class="left">
        <div class="goods-gallery"></div>
        <div class="share clearfix">
            <label><i class="iconfont icon-fenxiang1"></i>分享到</label>
            <ul>
                <li>微信</li>
                <li>微博</li>
                <li>QQ</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="goods-name limit-goods">刘慈欣科技科幻系列三本套装《赡养人类》</div>
        <div class="limit-timer">
            <div class="limit clearfix">
                <label>秒杀</label>
                <div class="timer clearfix">
                    <span>距离结束</span>
                    <i class="h">00</i>
                    <em>:</em>
                    <i class="m">00</i>
                    <em>:</em>
                    <i class="s">00</i>
                </div>
            </div>
        </div>
        <div class="parameter">
            <div class="price clearfix">
                <label>新华价</label>
                <div class="price-value">
                    <span>￥125</span><i>[6折]</i><em>定价：￥200.00</em>
                </div>
            </div>
            <div class="promotions clearfix">
                <label>促销信息</label>
                <div class="promotions-value">
                    多买优惠 满<i>4</i>件，总价<i>7</i>折 <a href="">详情》</a>
                </div>
            </div>
            <div class="comment clearfix">
                <div class="item clearfix">
                    <label>累计评论</label>
                    <div class="value">138</div>
                </div>
                <div class="item clearfix">
                    <label>购买成功</label>
                    <div class="value">365</div>
                </div>
            </div>
            <div class="common-key clearfix">
                <label>关注</label>
                <div class="value">30000次</div>
            </div>
            <div class="goods-intro">人类科幻史诗极具代表性的作品，绽放“中国想象力”</div>
            <div class="common-key clearfix">
                <label>作者</label>
                <div class="value">刘慈欣</div>
            </div>
            <div class="common-key clearfix">
                <label>出版社</label>
                <div class="value">中国华侨出版公司</div>
            </div>
            <div class="common-key clearfix">
                <label>出版时间</label>
                <div class="value">2016-06</div>
            </div>
            <div class="specification clearfix">
                <label>规格：</label>
                <ul>
                    <li>特别定制套装（5册）</li>
                    <li>三体1-3定制（3册）</li>
                    <li class="active">三体标准本（3册）</li>
                </ul>
            </div>
            <div class="quantity clearfix">
                <label>购买数量</label>
                <div class="value clearfix">
                    <div class="counter">
                        <div class="btn cut">-</div>
                        <input type="text" class="area" value="1">
                        <div class="btn add">+</div>
                    </div>
                    <div class="in-stock">库存：100</div>
                    <div class="notice">
                        <i class="iconfont icon-iconfonthuodonggonggao"></i>
                        <span>到货通知</span>
                    </div>
                </div>
            </div>
            <div class="button-item clearfix">
                <a href="" class="buy">立即购买</a>
                <a href="">加入购物车</a>
                <a href="">在线借阅</a>
            </div>
            <a href="" class="buy-e-book">购买电子书</a>
        </div>
        <div class="self-employed-icon">新华发行自营</div>
        <div class="service">
            <h3>支持服务</h3>
            <ul class="clearfix">
                <li>正品保障</li>
                <li>支持礼品卡</li>
                <li>优惠券支付</li>
            </ul>
        </div>
    </div>
</div>
<!--优惠推荐-->
<div class="favorable-box shadow">
    <div class="tab-head clearfix">
        <div class="tab tab-active favorable-package">优惠套装</div>
        <div class="tab selling-goods">热销商品</div>
    </div>
    <div class="tab-content tab-content-active favorable">
        <h3 class="title">优惠套装1</h3>
        <div class="detail clearfix">
            <div class="goods">
                <a href="" class="goods-cover"><img src=""></a>
                <a href="" class="goods-name">孙俪推荐 黄帝内经</a>
            </div>
            <i class="operator">+</i>
            <div class="goods">
                <a href="" class="goods-cover"><img src=""></a>
                <a href="" class="goods-name">孙俪推荐 黄帝内经</a>
            </div>
            <i class="operator equal">=</i>
            <div class="result">
                <a href="" class="goods-name">孙俪推荐 黄帝内经</a>
                <div class="price clearfix">
                    <label>套装价格：</label>
                    <i>￥276.00</i>
                </div>
                <div class="price clearfix">
                    <label>新华：</label>
                    <span>￥296.00</span>
                </div>
                <div class="price clearfix">
                    <label>立即节省：</label>
                    <em>￥20.00</em>
                </div>
                <a href="" class="buy-button">购买套装</a>
            </div>
        </div>
    </div>
    <div class="tab-content hot-sale">
        <h3 class="title">热销商品</h3>
        <div class="recommended-products">
            <div class="goods">
                <a href="" class="cover"><img src=""></a>
                <span class="price">￥35.00</span>
                <a href="" class="name">瞬间的触觉</a>
            </div>
            <div class="goods">
                <a href="" class="cover"><img src=""></a>
                <span class="price">￥35.00</span>
                <a href="" class="name">瞬间的触觉</a>
            </div>
            <div class="goods">
                <a href="" class="cover"><img src=""></a>
                <span class="price">￥35.00</span>
                <a href="" class="name">瞬间的触觉</a>
            </div>
            <div class="goods">
                <a href="" class="cover"><img src=""></a>
                <span class="price">￥35.00</span>
                <a href="" class="name">瞬间的触觉</a>
            </div>
        </div>
    </div>
</div>
<!--商品详情-->
<div class="detail-box clearfix">
    <div class="left">
        <div class="left-block shadow">
            <div class="title">推荐商品</div>
            <div class="block-content recommended-products">
                <div class="goods">
                    <a href="" class="cover"><img src=""></a>
                    <span class="price">￥35.00</span>
                    <a href="" class="name">瞬间的触觉</a>
                </div>
                <div class="goods">
                    <a href="" class="cover"><img src=""></a>
                    <span class="price">￥35.00</span>
                    <a href="" class="name">瞬间的触觉</a>
                </div>
                <div class="goods">
                    <a href="" class="cover"><img src=""></a>
                    <span class="price">￥35.00</span>
                    <a href="" class="name">瞬间的触觉</a>
                </div>
                <div class="goods">
                    <a href="" class="cover"><img src=""></a>
                    <span class="price">￥35.00</span>
                    <a href="" class="name">瞬间的触觉</a>
                </div>
            </div>
        </div>
        <div class="left-block shadow">
            <div class="title">销售排行</div>
            <div class="block-content ranking">
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">1</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">2</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">3</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">4</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">5</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">6</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">7</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">8</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">9</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
                <div class="goods">
                    <div class="clearfix">
                        <span class="number">10</span>
                        <div class="ranking-goods-info clearfix">
                            <a href="" class="cover"><img src=""/></a>
                            <div class="r">
                                <a href="" class="name">瞬间的感觉</a>
                                <span class="price">￥35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="sales-info clearfix">
                        <span>销量：1453</span>
                        <span>评论：153</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="goods-detail-Introduction shadow">
            <ul class="info-nav clearfix">
                <li class="active">商品详情</li>
                <li>评价</li>
                <li>图书社群</li>
                <li>商品咨询</li>
            </ul>
            <div class="info-page">
                <ul class="format-item clearfix">
                    <li>版次：1</li>
                    <li>页数：354</li>
                    <li>字数：284946</li>
                    <li>印刷时间：2016年6月10日</li>
                    <li>开本：16开</li>
                    <li>纸张：胶片纸</li>
                    <li>印次：1</li>
                    <li>印次：平装</li>
                    <li>是否套装：是</li>
                    <li>国标标准书号ISBN：248548399</li>
                    <li>出版社：中国华侨出版社公司</li>
                    <li>作者：刘慈欣</li>
                </ul>
            </div>
            <div class="section">
                <div class="head">
                    <span>特色产品</span>
                </div>
                <div class="featured-products clearfix">
                    <div class="goods">
                        <a href="" class="cover"><img src=""/></a>
                        <a href="" class="name">孙俪推荐 皇帝内径</a>
                        <div class="price clearfix">
                            <span class="old-price">￥45.00</span>
                            <i class="cur-price">￥35.00</i>
                        </div>
                    </div>
                    <div class="goods">
                        <a href="" class="cover"><img src=""/></a>
                        <a href="" class="name">孙俪推荐 皇帝内径</a>
                        <div class="price clearfix">
                            <span class="old-price">￥45.00</span>
                            <i class="cur-price">￥35.00</i>
                        </div>
                    </div>
                    <div class="goods">
                        <a href="" class="cover"><img src=""/></a>
                        <a href="" class="name">孙俪推荐 皇帝内径</a>
                        <div class="price clearfix">
                            <span class="old-price">￥45.00</span>
                            <i class="cur-price">￥35.00</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="head">
                    <span>编辑推荐</span>
                </div>
                <div class="section-content">
                    <img src="../images/t1.png" width="100%">
                </div>
            </div>
            <div class="section">
                <div class="head">
                    <span>内容推荐</span>
                </div>
                <div class="section-content">
                    <img src="../images/t2.png" width="100%">
                </div>
                <div class="show-all">显示全部</div>
            </div>
            <div class="section">
                <div class="head">
                    <span>目录</span>
                </div>
                <div class="section-content">
                    <img src="../images/t3.png" width="100%">
                </div>
                <div class="show-all">显示全部</div>
            </div>
        </div>
    </div>
</div>
<!--商品推荐-->
<div class="products-featured">
    <div class="title"><span>商品推荐</span></div>
    <div class="featured-slide-box">
        <div class="prev btn iconfont icon-jiantou"></div>
        <div class="next btn iconfont icon-jiantou-copy"></div>
        <div class="products-featured-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap">
                        <div class="goods">
                            <a href="" class="cover"><i class="hg"></i><img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                        <div class="goods">
                            <a href="" class="cover"><i class="hg"></i><img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                        <div class="goods">
                            <a href="" class="cover"><i class="hg"></i><img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                        <div class="goods">
                            <a href="" class="cover">
                                <span class="cx">慢100减40</span>
                                <img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap">
                        <div class="goods">
                            <a href="" class="cover"><i class="hg"></i><img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                        <div class="goods">
                            <a href="" class="cover"><i class="hg"></i><img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                        <div class="goods">
                            <a href="" class="cover"><i class="hg"></i><img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                        <div class="goods">
                            <a href="" class="cover">
                                <span class="cx">慢100减40</span>
                                <img src=""/></a>
                            <a href="" class="name">孙俪推荐 皇帝内径</a>
                            <div class="price clearfix">
                                <span class="old-price">￥45.00</span>
                                <i class="cur-price">￥35.00</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--通栏广告-->
<div class="full-ad">
    <a href=""><img src="../images/fullad.jpg"/></a>
</div>
<!--标志-->
<div class="icon-item clearfix">
    <div class="wrap">
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <p>正品保障</p>
                <p>品牌厂商</p>
                <p>品牌厂商</p>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <p>正品保障</p>
                <p>品牌厂商</p>
                <p>品牌厂商</p>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <p>正品保障</p>
                <p>品牌厂商</p>
                <p>品牌厂商</p>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <p>正品保障</p>
                <p>品牌厂商</p>
                <p>品牌厂商</p>
            </div>
        </div>
        <div class="icon-box">
            <img src="../images/g.png"/>
            <div class="text">
                <p>正品保障</p>
                <p>品牌厂商</p>
                <p>品牌厂商</p>
            </div>
        </div>
    </div>
</div>
<!--帮助-->
<div class="help-item clearfix">
    <div class="wrap clearfix">
        <div class="help-box">
            <h3>新手入门</h3>
            <a href="" class="help-url">购物保障</a>
            <a href="" class="help-url">服务协议</a>
            <a href="" class="help-url">发票说明</a>
        </div>
        <div class="help-box">
            <h3>常见问题</h3>
            <a href="" class="help-url">优惠券使用</a>
        </div>
        <div class="help-box">
            <h3>配色说明</h3>
            <a href="" class="help-url">配送时间</a>
            <a href="" class="help-url">配送费用</a>
            <a href="" class="help-url">配送范围</a>
        </div>
        <div class="help-box">
            <h3>支付方式</h3>
            <a href="" class="help-url">在线支付</a>
        </div>
        <div class="help-box">
            <h3>售后服务</h3>
            <a href="" class="help-url">品质保障</a>
            <a href="" class="help-url">退换货政策</a>
            <a href="" class="help-url">退换货流程</a>
        </div>
    </div>

</div>
<!--二维码-->
<div class="qrcode-item clearfix">
    <div class="wrap clearfix">
        <div class="qrcode">
            <img src="../images/c.png">
            <span>xinhuahulian.com</span>
        </div>
        <div class="qrcode">
            <img src="../images/c.png">
            <span>xinhuahulian.com</span>
        </div>
        <div class="qrcode">
            <img src="../images/c.png">
            <span>xinhuahulian.com</span>
        </div>
    </div>
</div>
<!--底部导航-->
<div class="bottom-nav">
    <ul class="nav-item clearfix">
        <li><a href="">公司简介</a></li>
        <li><a href="">团队管理</a></li>
        <li><a href="">媒体报道</a></li>
        <li><a href="">联系我吗</a></li>
        <li><a href="">招贤纳士</a></li>
    </ul>
    <div class="website-info">
        新华发行网 2015XXXXX.com AII Rights Reserved 京ICP备 XXXXXXXXXX号-1 京公网备XXXXXXXXXX
    </div>
    <div class="safe-info">
        可信平台·工商认证·信用企业
    </div>
</div>
<script>
    (function () {

        $('.favorable-box .tab-head .tab').click(function () {
            var index = $(this).index();
            $('.favorable-box .tab-head .tab').removeClass('tab-active');
            $(this).addClass('tab-active');
            $('.favorable-box .tab-content').removeClass('tab-content-active');
            $($('.favorable-box .tab-content')[index]).addClass('tab-content-active');
        });

        function counter(obj, v) {
            var val = parseInt(obj.find('.area').val());
            val += v;
            if (val < 0) {
                val = 0;
            }
            obj.find('.area').val(val);
        }

        $('.counter .cut').click(function () {
            counter($(this).parent('.counter'), -1);
        });

        $('.counter .add').click(function () {
            counter($(this).parent('.counter'), 1);
        });

        var featured = new Swiper('.products-featured-container', {
            loop: true,
        });

        $('.featured-slide-box .prev').click(function () {
            featured.slidePrev();
        });

        $('.featured-slide-box .next').click(function () {
            featured.slideNext();
        });


        $('.toggle-nav').mouseover(function () {
            $(this).find('.dropdown-nav').show();
        });

        $('.toggle-nav').mouseleave(function () {
            $(this).find('.dropdown-nav').hide();
        });

        function Countdown(time, tag) {
            this.endTime = new Date(time).getTime();
            this.getGap = function () {
                this.curTime = new Date().getTime();
                this.gap = this.endTime - this.curTime;
                if (this.gap > 0) {
                    var ss = this.gap / 1000;
                    var h = Math.floor(ss / 3600);
                    var ms = ss % 3600;
                    var m = Math.floor(ms / 60);
                    var s = Math.floor(ms % 60);
                    if (h < 10) {
                        h = 0 + '' + h;
                    }
                    if (m < 10) {
                        m = 0 + '' + m;
                    }
                    if (s < 10) {
                        s = 0 + '' + s;
                    }
                    tag.find('.h').text(h);
                    tag.find('.m').text(m);
                    tag.find('.s').text(s);
                }
            };
            var _this = this;
            setInterval(function () {
                _this.getGap()
            }, 1000);
        }

        var limit = new Countdown('2017-1-3 17:32', $('.limit-timer'));
    })()
</script>
<!--右侧悬浮导航-->
<ul class="fix-nav">
    <li><a href="" class="iconfont icon-gouwuche2"></a></li>
    <li><a href="" class="iconfont icon-xin"></a></li>
    <li><a href="" class="iconfont icon-jiaoyin"></a></li>
    <li><a href="" class="iconfont icon-jiaxiquan"></a></li>
    <li><a href="" class="iconfont icon-bianji"></a></li>
    <li onclick="$(document).scrollTop(0)"><a href="javascript:void(0)" class="iconfont icon-huidaodingbu"></a></li>
</ul>
</body>
</html>
